<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>宋老师公共部分</title>
	<!--插件:static文件夹-->
	<link rel="stylesheet" href="../../assets/static/bootstrap-3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../assets/static/swiper-4.3.3/swiper.min.css" />
	<!--自定义样式表-->
	<link rel="stylesheet" href="../../assets/css/common.css" /> <!--公共样式表-->
	<link rel="stylesheet" href="../../assets/css/index.css" /> <!--本页样式表-->
</head>
<body>	
	<!--公共头部 start-->
	<div class="common-header">  
		<!--顶部 start-->
		<div class="common-top clearfix">  
			<div class="container">
				<div class="top-inner top-tel"><img src="../../assets/image/common/tel.png" alt="网站logo" /></div>
				<div class="top-inner top-op">
					<!--未登录状态start-->
					<ul class="list-inline list-op">
						<li>
							<a href="../Login/login.html" class="op-btn btn-login">登录</a>
						</li>
						<li>
							<a href="../Register/register.html" class="op-btn btn-reg on">注册</a>
						</li>
					</ul>
					<!--未登录状态end-->
					<!--已登录状态start-->
					<ul class="list-inline list-op" style="display: none;">
						<li class="dropdown li-user">
							<a href="#" class="dropdown-toggle user" data-toggle="dropdown">
			                   	<!--<span class="user"></span>-->
			                </a>
							<ul class="dropdown-menu">
								<li>
									<a href="javascript:;">用户名</a>
								</li>
								<li>
									<a href="javascript:;">我的课程</a>
								</li>
								<li>
									<a href="javascript:;">退出</a>
								</li>
							</ul>
						</li>
					</ul>
					<!--已登录状态end-->
				</div>
			</div>
		</div>
		<!--顶部 end-->
    	<!-- 头部导航栏start-->
    	<div class="navbar navbar-default common-nav">
			<div class="container">
				<div class="navbar-header nav-inner nav-logo">
					<a class="navbar-brand" href="../Index/index.html" ><img src="../../assets/image/common/logo.png" alt="网站logo" title="返回首页" /></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
		                data-target="#inner-navbar-collapse">
			            <span class="sr-only">切换导航</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
				</div>
				<div class="collapse navbar-collapse nav-inner nav-list" id="inner-navbar-collapse">
					<ul class="nav navbar-nav list-nav" id="navSearch">
						<li class="li-home"><a href="../Index/index.html">首页</a></li>
						<li class="dropdown li-online">
			                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
			                   	在线课堂<b class="caret"></b>
			                </a>
			                <ul class="dropdown-menu">
			                    <li><a href="../Online/online.html">免费试学</a></li>
			                    <li><a href="../Online/online.html">付费课堂</a></li>
			                </ul>
						</li>
						<li class="li-about"><a href="../About/about.html">关于我们</a></li>
						<li class="li-honor"><a href="">荣誉证书</a></li>
						<li class="li-news"><a href="">新闻资讯</a></li>
						<li class="li-search"><a href="javascript:;" id="btnSearch"><!--搜索图标--></a></li>
					</ul>
				</div>
				<div id="retSearch">
					<ul class="list-search">
						<li>
							<a href="javascript:;" class="btn-close" id="btnClose"><!--关闭图标--></a>
							<input type="search" autocomplete="off" class="search" id="searchGroup" placeholder="请搜索" value="" />
							<a href="javascript:;" class="btn-search"><!--搜索图标--></a>
							<ul class="ret-group">
								<li>最近搜索</li>
								<li><a href="javascript:;">书法写作规范</a></li>
								<li><a href="javascript:;">硬笔书法</a></li>
								<li><a href="javascript:;">书法写作姿势</a></li>
							</ul>
						</li>						
					</ul>
				</div>
			</div>
		</div>
		<!-- 头部导航栏 end-->
    </div>
    <!-- 公共头部 end-->
    
    <!-- 公共尾部 start-->
    <div class="common-footer">
    	<div class="container">
    		<div class="footer-main">
    			<div class="footer-l">
    				<img src="../../assets/image/common/qr.png" alt="" /><br />
    				<p>扫描关注"宋老师"</p>
	    		</div>    		
	    		<div class="footer-r">
	    			<div class="fr-top">
	    				<img src="../../assets/image/common/footer_tel.png" alt="" />
	    			</div>
	    			<div class="fr-center">
	    				<div>
	    					<span>公司名称：北京众和兴业工贸有限公司</span>
	    					<span class="fr">公司官网：www.slsjxz.com</span>
	    				</div>
	    				<div>
	    					<span>公司地址：北京市门头沟区绿岛家园八号楼</span>
	    					<span class="fr">邮箱：1234567l@163.com</span>
	    				</div>  
	    			</div>
	    			<div class="fr-bottom">
	    				©2016-2017 武汉乐问科技有限公司 版权所有 鄂ICP备16018730号-1 | 版权声明
	    			</div>
	    		</div>
    		</div>    		
    	</div>
    </div>
    <!-- 公共尾部 start-->
	
	
    <!--插件：static文件夹-->
	<script src="../../assets/static/jquery-2.1.4/jquery.min.js"></script>
	<script src="../../assets/static/bootstrap-3.3.7/js/bootstrap.js"></script>
	<script src="../../assets/static/swiper-4.3.3/swiper.min.js"></script>
	<!--自定义js-->
	<script src="../../assets/js/common.js"></script> <!--公共js部分-->
	<script src="../../assets/js/index.js"></script>	 <!--本页js-->
</body>
</html>