<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>宋老师公共部分</title>
	<!--插件:static文件夹-->
	<link rel="stylesheet" href="../../assets/static/bootstrap-3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../assets/static/swiper-4.3.3/swiper.min.css" />
	<!--自定义样式表-->
	<link rel="stylesheet" href="../../assets/css/common.css" /> <!--公共样式表-->
	<link rel="stylesheet" href="../../assets/css/index.css" /> <!--本页样式表-->
</head>
<body>	
	<div class="common-header">  
		<!--顶部 start-->
		<div class="common-top clearfix">  
			<div class="container">
				<div class="top-inner top-tel"><img src="../../assets/image/common/tel.png" alt="" /></div>
				<div class="top-inner top-op">
					<!--未登录状态start-->
					<ul class="list-inline list-op">
						<li>
							<a href="../Login/login.html" class="op-btn btn-login">登录</a>
						</li>
						<li>
							<a href="../Register/register.html" class="op-btn btn-reg on">注册</a>
						</li>
					</ul>
					<!--未登录状态end-->
					<!--已登录状态start-->
					<ul class="list-inline list-op" style="display: none;">
						<li>
							欢迎您，<a href="JavaScript:;" class="user">哈哈</a>
						</li>
						<li>
							<a href="../Logout/logout.html" class="op-btn btn-logout">退出</a>
						</li>
					</ul>
					<!--已登录状态end-->
				</div>
			</div>
		</div>
		<!--顶部 end-->
    	<!-- 头部导航栏start-->
    	<div class="navbar navbar-default common-nav">
			<div class="container">
				<div class="navbar-header nav-inner nav-logo">
					<a class="navbar-brand" href="/" ><img src="../../assets/image/common/logo.png" alt="网站logo" title="返回首页" /></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
		                data-target="#inner-navbar-collapse">
			            <span class="sr-only">切换导航</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
				</div>
				<div class="collapse navbar-collapse nav-inner nav-list" id="inner-navbar-collapse">
					<ul class="nav navbar-nav list-nav">
						<li class="li-home"><a href="/">首页</a></li>
						<li class="dropdown li-online">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			                   	在线课堂<b class="caret"></b>
			                </a>
			                <ul class="dropdown-menu">
			                    <li><a href="../Online/free.html">免费试学</a></li>
			                    <li><a href="../Online/paid.html">付费课堂</a></li>
			                </ul>
						</li>
						<li class="li-about"><a href="">关于我们</a></li>
						<li class="li-honor"><a href="">荣誉证书</a></li>
						<li class="li-news"><a href="">新闻资讯</a></li>
						<li class="li-search"><a href="">search</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--<nav class="navbar navbar-default common-nav fixed" role="navigation" style="position: fixed;top: 200px;">
		    <div class="container-fluid"> 
		    <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse"
		                data-target="#example-navbar-collapse">
		            <span class="sr-only">切换导航</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="#">菜鸟教程</a>
		    </div>
		    <div class="collapse navbar-collapse" id="example-navbar-collapse">
		        <ul class="nav navbar-nav">
		            <li class="active"><a href="#">iOS</a></li>
		            <li><a href="#">SVN</a></li>
		            <li class="dropdown">
		                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
		                    Java <b class="caret"></b>
		                </a>
		                <ul class="dropdown-menu">
		                    <li><a href="#">jmeter</a></li>
		                    <li><a href="#">EJB</a></li>
		                    <li><a href="#">Jasper Report</a></li>
		                    <li class="divider"></li>
		                    <li><a href="#">分离的链接</a></li>
		                    <li class="divider"></li>
		                    <li><a href="#">另一个分离的链接</a></li>
		                </ul>
		            </li>
		        </ul>
		    </div>
		    </div>
		</nav>-->
    </div>
    <!-- 头部导航栏end-->
    
    <!-- 页尾start-->
    <div class="common-footer">
    	<div class="container">
    		<div class="footer-l">
    			<div class="fl-top">
    				<a href="index.html">首页</a>|
    				<a href="products.html">产品</a>|
    				<a href="support.html">支持</a>|
    				<a href="experience.html">体验</a>|
    				<a href="cooperation.html">合作伙伴</a>|
    				<a href="us.html">我们</a>
    			</div>
    			<div class="fl-center">
    				电话 : 010-5335-1569   
    			</div>
    			<div class="fl-bottom">
    				版权所有 © 2003-2018 北京众企智云网络科技有限公司  京ICP备5689231号
    			</div>
    		</div>
    		<div class="footer-r">
    			<div class="fr-l" style="opacity: 0;">
    				<p>400-120-8569</p>
    				<p>800-101-9999</p>
    				<p>每周一至周五9:00—18:00</p>
    			</div>
    			<div class="fr-r">
    				<img src="img/home/qr.png" alt="" width="92" /><br />
    				<span>扫一扫关注公众号</span>
    			</div>
    		</div>
    	</div>
    </div>
    <!-- 页尾start-->
	
	
    <!--插件：static文件夹-->
	<script src="../../assets/static/jquery-2.1.4/jquery.min.js"></script>
	<script src="../../assets/static/bootstrap-3.3.7/js/bootstrap.js"></script>
	<script src="../../assets/static/swiper-4.3.3/swiper.min.js"></script>
	<!--自定义js-->
	<script src="../../assets/js/common.js"></script> <!--公共js部分-->
	<script src="../../assets/js/index.js"></script>	 <!--本页js-->
</body>
</html>