<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>宋老师</title>
	<!--插件:static文件夹-->
	<link rel="stylesheet" href="../../assets/static/bootstrap-3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../assets/static/swiper-4.3.3/swiper.min.css" />
	<!--自定义样式表-->
	<link rel="stylesheet" href="../../assets/css/common.css" /> <!--公共样式表-->
	<link rel="stylesheet" href="../../assets/css/recharge.css" /> <!--本页样式表-->
</head>
<body>
    <!-- 页头 start-->
    <div id="header"></div>
    <!-- 页头 end-->	   
	
	<!--内容区域 start-->
	<div class="main-wrapper">
		<div class="main-bg">			
			<div class="container">
				<div class="user-con">
					<label for="">登录账号：</label>
					<span>
						<img src="../../assets/image/recharge/portrait.png" alt="" />  <!--用户头像-->
						<i>张子怡</i> <!--用户名-->
					</span>
				</div>
				<!--内容-->
				<div class="main-con">
					<div class="member-type">
						<div class="member-tlt text-center">会员类型选择</div>
						<ul class="list-inline list-type clearfix">
							<li>
								<div class="tlt">月度VIP</div>
								<div class="price">
									￥ <i>99</i>
								</div>
								<div class="per-price none">3.3</div>
								<div class="intro">月度会员，海量课程随心看</div>
							</li>
							<li class="on">
								<div class="tlt">季度VIP</div>
								<div class="price">
									￥ <i>249</i>
								</div>
								<div class="per-price none">2.71</div>
								<div class="intro">季度会员，更多课程，更多优惠</div>
							</li>
							<li>
								<div class="tlt">年度VIP</div>
								<div class="price">
									￥ <i>899</i>
								</div>
								<div class="per-price none">2.46</div>
								<div class="intro">年度会员，全年无忧学习，最优惠</div>
							</li>
						</ul>
					</div>
					<div class="recharge-type">
						<div class="recharge-tlt">充值方式</div>
						<div class="recharge-sum">
							<span>付款金额：<b id="totalSum">249</b>元/季</span>
							<span>低至约<b id="perSum">2.71</b>元/天</span>
						</div>
						<ul class="list-inline list-type">
							<li class="li-wx">
								<div class="top">
									<img src="../../assets/image/recharge/qr.png" alt="" />
								</div>
								<div class="bot">
									<img src="../../assets/image/recharge/wx.png"/>
									<span>使用微信支付</span>
								</div>
							</li>
							<li class="li-ali">
								<div class="top">
									<img src="../../assets/image/recharge/ali.png" alt="" />									
								</div>
								<div class="bot">支付宝支付</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--内容区域 end -->
	
    <!-- 页尾 start-->
    <div id="footer"></div>
    <!-- 页尾 end-->	
    
    
    <!--插件：static文件夹-->
	<script src="../../assets/static/jquery-2.1.4/jquery.min.js"></script>
	<script src="../../assets/static/bootstrap-3.3.7/js/bootstrap.js"></script>
	<!--自定义js-->
	<script src="../../assets/js/common.js"></script> <!--公共js部分-->
	<script src="../../assets/js/recharge.js"></script>	 <!--本页js-->
</body>
</html>