<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>宋老师</title>
	<!--插件:static文件夹-->
	<link rel="stylesheet" href="../../assets/static/bootstrap-3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../assets/static/swiper-4.3.3/swiper.min.css" />
	<!--自定义样式表-->
	<link rel="stylesheet" href="../../assets/css/common.css" /> <!--公共样式表-->
	<link rel="stylesheet" href="../../assets/css/about.css" /> <!--本页样式表-->
</head>
<body>
    <!-- 页头 start-->
    <div id="header"></div>
    <!-- 页头 end-->	
    
    <!--banner start-->
	<div class="banner" style="background-image: url(../../assets/image/about/banner.jpg);"></div> 
	<!--banner end-->
	
	<!--内容区域 start-->
	<div class="main-wrapper">
		<div class="main-bg">
			<div class="main-tlt">
				<div class="container">
					<ul class="list-inline tab-nav">
				        <li class="tab-nav-item tab-active">发展趋势</li>
				        <li class="tab-nav-item">社会历程</li>
				        <li class="tab-nav-item">宋老师教育平台</li>
				        <li class="tab-nav-item">宋老师介绍</li>
				    </ul>
				</div>
			</div>			
			<div class="container">
				<!--内容-->
				<div class="main-con">
				    <div class="tab-panel">
				    	<!--发展趋势 start-->
				        <div class="tab-panel-item tab-active">
				        	<div class="item-tlt">发展趋势</div>	
				        	<div class="item-con">
				        		<div class="img">
				        			<img src="../../assets/image/about/img.png" alt="" />
				        		</div>
				        		<div class="txt">
				        			<p>
				        				北京市致力于提供富有高性价比的在线教育服务解决全国中小学生找好老师难，上好课程难提高 分数难等教育资源分布问题，让不同城市的孩子们都能站在同一起跑线。北京市致力于提供富有高性价比的在线教育服务，解决全国中小学生找好老师难，上好课程难提高 分数难等教育资源分布问题，让不同城市的孩子们都能站在同一起跑线。北京市致力于提供富有高性价比的在线教育服务解决全国中小学生找好老师难，上好课程难提高 分数难等教育资源分布问题，让不同城市的孩子们都能站在同一起跑线。北京市致力于提供富有高性价比的在线教育服务，解决全国中小学生找好老师难，上好课程难提高 分数难等教育资源分布问题。 
				        			</p>
				        		</div>
				        	</div>
				        </div>
				        <!--发展趋势 end-->
				        <!--社会历程 start-->
				        <div class="tab-panel-item">
				        	<div class="item-tlt">社会历程</div>	
				        	<div class="item-con">
				        		2
				        	</div>
				        </div>
				        <!--社会历程 end-->
				        <!--宋老师教育平台 start-->
				        <div class="tab-panel-item">
				        	<div class="item-tlt">宋老师教育平台</div>	
				        	<div class="item-con">
				        		3
				        	</div>
				        </div>
				        <!--宋老师教育平台 end-->
				        <!--宋老师介绍 start-->
				        <div class="tab-panel-item">
				        	<div class="item-tlt">宋老师介绍</div>	
				        	<div class="item-con">
				        		4
				        	</div>
				        </div>
				        <!--宋老师介绍 end-->
				    </div>
				</div>
			</div>
		</div>
	</div>
	<!--内容区域 end -->
	
    <!-- 页尾 start-->
    <div id="footer"></div>
    <!-- 页尾 end-->	
    
    <style type="text/css">
    	.common-nav .nav-list .list-nav > li.li-about > a {
			background-color: #323232;
			color: #fff;
		}
    </style>
    
    <!--插件：static文件夹-->
	<script src="../../assets/static/jquery-2.1.4/jquery.min.js"></script>
	<script src="../../assets/static/bootstrap-3.3.7/js/bootstrap.js"></script>
	<!--自定义js-->
	<script src="../../assets/js/common.js"></script> <!--公共js部分-->
	<script src="../../assets/js/about.js"></script>	 <!--本页js-->
</body>
</html>