/*reset*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,input,button,textarea,th,td,select{margin:0;padding:0;}
body{ color: #717171;}
em{font-style:normal;}
i{display:block;font-style:normal;}
li{list-style:none;}
a{color:inherit;text-decoration:none;}
a:focus, *:focus {noFocusLine: expression(this.onFocus=this.blur()); text-decoration: none; color: inherit;}
a:hover {color: #f60;text-decoration:none;}
a:active{text-decoration: none;}
img{border:none; vertical-align:top;}
table{border-collapse:collapse;}
input,textarea,button,select{outline:none;}
input[type="checkbox"]{ width: 14px; height: 14px; vertical-align: middle;}
body,input,textarea,button{font:14px/1.65 "Arial","Verdana","PingFang SC","Lantinghei SC","Hiragino Sans GB","Microsoft YaHei","simsun",Lucida Grande,"Droid Sans","wenquanyi micro hei"}
textarea{ font-size: 12px; resize:none; overflow: auto;}
option{ padding: 0; border: none;}


/******** 全局样式 ********/
.mt10{ margin-top: 10px;}
.mt20{ margin-top: 20px;}
.mt30{ margin-top: 30px;}
.tac{ text-align: center;}

.hide{ display: none;}
.icon{ display: block; float: left;}

.clearfix{ zoom: 1; clear: both;}
.clearfix:after { content: ''; display: block; clear: both;}

.fl{float:left;}
.fr{float:right;}

.text-overflow{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

/*公共按钮样式*/
.btn{ display: inline-block; text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; border: 1px solid transparent; cursor: pointer; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.btn:hover{ text-decoration: none; opacity: .9}
.btn-default{ color: buttontext; background: buttonface; border: none;
    -webkit-transition: ease .25s;
    -moz-transition: ease .25s ;
    -ms-transition: ease .25s ;
    -o-transition: ease .25s ;
    transition: ease .25s ;
}
.badge{
    display: inline-block;
    padding: 3px 5px;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.badge-pill {
    padding: 3px 7px;
    border-radius: 10rem;
}
.badge-danger {
    background-color: #f86c6b;
}

.wrap{ width: 100%;background-color: #fff;padding-bottom: 12px;}

