/********** header start **********/
.header{
    position: fixed;
    top: 44px;
    width: 100%;
    z-index: 50;
    margin-bottom: 0;
    height: 80px;
    box-shadow: 0 5px 5px rgba(0,0,0,.06);
    background-color: rgba(255,255,255,1);
}
.header-main{
    margin: 0 auto;
    max-width: 1200px;
}
/****** 妞ゅ爼鍎寸�佃壈鍩� ******/
.navbar{ border: none;}

/* logo */
.navbar-brand {
    height: auto;
    padding: 10px 0 0 0;
}
.navbar-brand img{ width:210px;height: 60px;}

/* 鐎佃壈鍩呴弶锟� */
.nav{ margin: 15px 0 0 40px;}
.nav>li>a{ font-size: 16px;}
.nav>li.on>a{ color: #f60;}
.nav>li>a:hover{ background-color: transparent;}
.nav>li>a img{vertical-align: middle}
/* 閹兼粎鍌� */
.nav-search-box{
    background-color: #fff;
}
.nav-search{
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px 25px 0 10px;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1;
    overflow: hidden;
}
.search-sm{
    width: 180px;
    height: 30px;
    padding: 5px;
    border: 0;
}
.search-go{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    border: 0;
    background-color: transparent;
}
.search-go .icon-search{ width: 20px; height: 20px; background: url("../images/base_sprite.png") no-repeat 0 0;}
.search-go:hover .icon-search{ background-position: -20px 0;}

/* 閻€劍鍩涙穱鈩冧紖 */
.user-info li{ height: 42px; float: left; margin: 14px 0 0 15px;}
.user-info li a{ display: inline-block;}
.user-info .logout a{ padding: 8px 5px; font-size: 16px;}
.avatar{ width: 42px; height: 42px; border-radius: 50%;}

.user-info li .btn-teacher{ margin-top: 6px; line-height: 1; font-size: 14px; border-radius:14px;}
.btn-teacher{ background-color: transparent; border: 1px solid #f60; border-radius: 15px; color: #f60;}
.btn-teacher:hover{ background-color: #f60; color: #fff;}

.user-card .user-name{ width: 100%; line-height: 43px; font-size: 16px;}
.user-card .user-name .icon-user{ width: 20px; height: 20px; margin: 10px 5px 0 0; background: url("../images/base_sprite.png") no-repeat 0 -20px; }
.user-card:hover{ color: #f60;}
.user-card:hover .icon-user{ background-position: -20px -20px; }

/*** 瀹歌尙娅ヨぐ锟�-娴兼艾鎲虫稉瀣 start ***/
.user-card{ position:relative; z-index: 1999;}
.user-card-item{ position: relative; height:50px; line-height:50px; text-align:center;}
.user-card-item .msg-tip{ position: absolute; right: -2px; top: 6px;display: block; width: 8px; height: 8px; background: #f60; border: 2px solid #fff; border-radius: 50px;}

.user-card-layer{ top: 50px;width: 300px;padding: 20px;background: #fff;border: 1px solid #ccc;}
.user-card-layer .arrow{ width: 14px; height: 9px; background: url("../images/dropdown-arrow.png") no-repeat center; position: absolute; top: -9px; right: 9px;}

/* 閸楋紕澧栨径锟� */
.user-card-top{ position: relative;}
/* 閻€劍鍩涙穱鈩冧紖 */
.user-card-top .user-info .avatar{ width: 68px; height: 68px;}
.user-card-top .user-info .info{ margin: 10px 0 0 8px;}
.user-card-top .user-info .info .username{ font-size: 18px; color: #000;}
.user-card-top .user-info .info .username:hover{ color: #f60}
/* 閻€劍鍩涙导姘喅缁涘楠� */
.user-rank{height: 20px; line-height: 20px; margin-top: 5px;}
.user-rank .user-marker .icon-rank{ width: 20px; height: 20px; background: url("../images/icon_rank.png") no-repeat;}
.user-rank .user-marker .rank-gold{background-position: 0 0;}
.user-rank .user-marker .rank-silver{background-position: -20px 0;}
.user-rank .user-marker .rank-bronze{background-position: -40px 0;}
.user-rank .user-marker .rank-normal{background-position: -60px 0;}
.user-rank .user-marker span{ margin: 0 0 0 5px; color: #999; font-size: 12px;}
.user-rank .user-marker span em{ color: #f4b454;}

/* 閻€劍鍩涚拹锔藉煕 */
.user-card-layer .user-account{ margin: 20px 0;}

/* 閸楋紕澧栭懣婊冨礋 */
.user-card-menu a{ float: left; display: block; width: 128px; height: 32px; line-height: 32px; color: #666; background: #f0f0f0; margin: 0 2px 2px 0;}
.user-card-menu a:nth-of-type(2n){ margin-right:0;}
.user-card-menu a:hover{ background: #e0e0e0;}
.user-card-menu .icon{ width: 16px; height: 16px; margin: 8px 10px 0 20px; background: url("../images/base_sprite.png") no-repeat;}
.user-card-menu .icon-order{ background-position: 0 -100px; }
.user-card-menu .icon-collect{ background-position: 0 -120px; }
.user-card-menu .icon-msg{ background-position: 0 -140px; }
.user-card-menu .icon-userinfo{ background-position: 0 -160px; }
.user-card-menu .msg{ position: relative;}
.user-card-menu .msg strong{ position: absolute; left: 110px; color: #f60;}

/* 闁拷閸戣櫣娅ヨぐ锟� */
.user-card-foot{height: 30px; margin: 10px 0 0 0; line-height: 30px; border-top: 1px solid #e6e6e6}
.user-card-foot .logout{ color: #999;}
.user-card-foot .logout:hover{ color: #f60}

.user-card .j-dropdown-layer{ position: absolute; top: 56px; right: 0; z-index: 1000; display: none;}
/*** 瀹歌尙娅ヨぐ鏇氱窗閸涙ü绗呴幏锟� end ***/

/********** header end **********/


.navbar-nav{float:right;}




.nav_bottom {
   position: fixed;
    top: 44px;
    width: 100%;
    z-index: 50;
    margin-bottom: 0;
    height: 80px;
    box-shadow: 0 5px 5px rgba(0,0,0,.06);
    background-color: rgba(255,255,255,1);
}
.nav_bottom .container{margin:0 auto;}

.nav_top_inp2 {
    height: 25px;
    width: 160px;
    border:1px solid #eaeaea;
    /* border-radius: 10px; */
    background: url(../images/search.png) no-repeat right;
    background-color: #FFFFFF;
    background-position: 5px right;
    display: inline-block;
    margin:10px 0 10px;
}
.nav_top_inp2 input {
    height: 23px;
    width: 110px;
    margin-left: 5px;
    outline: none;
    border: none;
    /* padding-left: 3px; */
    border-radius: 0 10px 10px 0;
}


@media (max-width: 768px) {
    html{font-size: 64px;}
    .top_nav{width: 99%;}
    .top_nav img{vertical-align: middle;}
    .top_nav li:first-child{margin-top: 10px;}
    .top_nav li+li{width:auto;margin: 5px 0;}
    .top_nav .nav_top_inp{}
    .nav_bottom .collapse{margin-top: 0px;}
    .nav_bottom .collapse .nav{margin-left: 0px;margin-top: 0px;width: 100%;text-align: center;background-color: #F8F8F8;}
    .nav_bottom .collapse .dropdown{}
    .navbar-collapse{padding: 0;}
    .nav_bottom .dropdown .dropdown-menu li{width: 100%;}
    
    .logo{height: 30px;width: auto;}
    .nav_bottom{height: 60px;}
    .navbar-header{height: 58px;}
    .nav_top{height: 100px;text-align: center;}
    .nav_bottom{margin-top: .1rem;}
    
    .dropdown-menu {min-width: 100%;}
    
    .my_banner{margin-top: 160px;}
    .banner_left .banner_l{height: calc(100vw*.284/3);line-height:  calc(100vw*.284/3);}
    
    .details .des{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;height: 35px;}
    .details .des:after{content: '';}
    
    .details li{margin-bottom: 0.2rem;}
    .product .btn_tap,.server .btn_tap{line-height: 0.2rem;}
    .product .container li{text-align: center;margin-top: 0.1rem;}
    .product .container li a{width: 100%;}
    .example li{margin-bottom: 0.2rem;}
    
    .footer_top .footer_top_l{text-align: center;margin-bottom: 0.2rem;}
    .footer_top .footer_top_m img{width: 30%;}

   .navbar-brand {
    padding: 10px 0 0 20px;
}


.navbar-brand img{ width:108px;height: 30px;}
}