body {background-color: #f4f4f4;}
.main-bg.bg1 {
	background-color: #191919;
}
.main-bg.bg1 .main-con {
	background-color: #2d2d2d;
}
.breadcrumb {
    padding: 0;
    margin: 14px 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    font-size: 14px;	
    color: #999;
}
.breadcrumb>li+li:before {
	color: #999;
	content: ">";
}
.breadcrumb>li a {
	color: #999;
}
.breadcrumb>li a:hover {
	text-decoration: underline;
}
.breadcrumb>.active {
	color: #999;
}
/*---- 标题 ----*/
.main-top {
    display: flex;
    color: #aaa;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}
.main-top .tlt {
	font-size: 20px;
	color: #fff;
	margin-bottom: 12px;	
}
.main-top .day i {
	color: #ff0f0f;
	padding: 0 2px;
}
.main-top .btns {
	text-align: right;
	margin-bottom: 10px;
}
.main-top .btns a {
    display: inline-block;
    padding: 4% 8%;
    background-color: #d01212;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
}

.course-main {
	font-size: 0;
	margin-bottom: 30px;
}
.course-main .course-main-left {
	display: inline-block;
	width: 65%;
	vertical-align: top;
	font-size: 12px;
    position: relative;
}
.course-main .course-main-right {
	display: inline-block;
	width: 35%;
	vertical-align: top;
	font-size: 12px;
}
.main-lt {
   position: relative;
   width: 100%;
   height: 340px;
}
.main-lt .video-img {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	z-index: 1;
}
.main-lt .play {
	position: absolute;
	width: 69px;
	height: 69px;
	background: url(../image/details/play.png) no-repeat center;
	background-size: contain;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 2;
	cursor: pointer;
}
.main-lt .pause:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
}
.main-lt video {
	
}
.main-lb {
	margin: 1% 4%;
	color: #8f8f8f;
}
.main-lb span {
	padding: 10px 0;
	cursor: pointer;
}
.main-lb .s-tel {
	display: inline-block;
	background: url(../image/details/tel.png) no-repeat left center;
	background-size: 14px 20px;
	padding-left: 20.5px;
	padding-right: 30px;
}
.main-lb .s-col {
	display: inline-block;
	background: url(../image/details/collect.png) no-repeat left center;
	background-size: 20px 20px;
	padding-left: 28px;
	color: #e2c99a;
}
.main-rt .course-info {
	/*background-color: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 6px;*/
}
.main-rt .course-info .con {
	padding: 20px;	
	background-color: #333;
}
.main-rt .course-info .con .name span {
	vertical-align: middle;
    font-size: 16px;
    color: #fff;
}
.main-rt .course-info .con .name .portrait {
	display: inline-block;
	width: 64px;
	height: 64px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-right: 8px;
}
/*课程目录*/
.main-rt .course-info .catalog .tlt {
    font-size: 16px;
    color: #fff;
    padding: 4% 6%;
    border-bottom: 1px solid #3f3f3f;
}
.list-catalog li {
	padding: 3% 6%;
	border-bottom: 1px solid #3f3f3f;
}
.list-catalog li a {
	color: #fff;
}
.list-catalog li.on a {
	color: #e2c99a;
}
/*课程详情*/
.course-detail .tab-nav {
	border-bottom: 1px solid #ececec;
}
.tab-nav li {
    font-size: 16px;
    font-weight: 100;
    color: #323232;
    padding: 10px;
    margin: 0 24px;
    position: relative;
    cursor: pointer;
}
.tab-nav li:hover,
.tab-nav li.tab-active {
	color: #d01212;
	border-bottom: 2px solid #d01212;
}
.tab-panel {
    position: relative;
    overflow: hidden;
}
.tab-panel .tab-panel-item {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 20px 34px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
.tab-panel .tab-panel-item.tab-active {
    position: relative;
    -webkit-transition: -webkit-transform .15s;
    transition: -webkit-transform .15s;
    transition: transform .15s;
    transition: transform .15s, -webkit-transform .15s;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.item-tlt {
    font-size: 16px;
    color: #323232;
    padding-left: 14px;
    margin: 14px 0;
    position: relative;
}
.item-tlt:before {
	content: " ";
	width: 4px;
	height: 16px;
	background-color: #d01212;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);	
}
.item-con {
	font-size: 14px;
	line-height: 1.8;
}
.item-con p {
	margin-bottom: 10px;
}
/*相关课程*/
.main-br {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 6px;	
}
.main-br .tlt {
    font-size: 16px;
    color: #000;
    padding: 8px 12px;
    border-bottom: 1px solid #ececec;
}
.list-course {
	font-size: 0;
	margin: 5% 10%;
}
.list-course li {
	width: 100%;
	margin-top: 14px;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	border-radius: 8px;
}
.list-course li:hover {
	/*background-color: #fff;*/
	/*box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);*/
}
.list-course li > a {
	display: inline-block;
	width: 100%;
	height: 100%;
}
.list-course li .course-imgs {
	width: 100%;
	height: 170px;
	border-radius: 8px 8px 0 0;
	overflow: hidden;
	position: relative;
}
.list-course li .course-imgs .img-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.33) url(../../assets/image/details/play.png) no-repeat center;
	background-size: 58px;
	display: none;
}
.list-course li:hover .course-imgs .img-mask {
	display: block;
	z-index: 2;
}
.list-course li .course-imgs img {
	width: 100%;
	height: 100%;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.list-course li:hover .course-imgs img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.list-course li .course-txt {
	padding: 14px 14px 18px;
}
.list-course li .course-txt .course-tlt {
	font-size: 16px;
	color:#333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 10px;
}
.list-course li:hover .course-txt .course-tlt {color: #d01212;}
.list-course li .course-txt .bc {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;		
}
.list-course li .course-txt .course-info {
	font-size: 14px;
}
.list-course li .course-txt .course-info .fee {
	font-size: 14px;
    font-weight: 100;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
}
.list-course li .course-txt .course-info .pay {
	background-color: #d01212;
}
.list-course li .course-txt .course-info .free {
	background-color: #e4cb9b;
}
.list-course li .course-txt .course-info .num {
	float: right;
	font-size: 14px;
	color: #8f8f8f;
}
/*学员评价*/
.comment-con .tlt span {
	font-size: 16px;
	color: #323232;
	vertical-align: middle;
}
.comment-con .tlt .list-star {
	display: inline-block;
	margin-left: 6px;
	vertical-align: middle;
}
.comment-con .tlt .list-star li {
	display: inline-block;
	width: 19px;
	height: 18px;
	background: url(../../assets/image/details/unstar.png) no-repeat left center;
	background-size: contain;
	margin-left: 2px;
}
.comment-con .comment-form {
	margin: 20px 0;
}
.comment-con .comment-form textarea {
	width: 100%;
	background-color: #fafafa;
	border-radius: 4px;
	border: solid 1px #dddddd;	
	padding: 6px 10px;
	resize:none;
}
.comment-con .btns {
	text-align: right;
}
.comment-con .btns a {
    display: inline-block;
    padding: 8px 20px;
    background-color: #d01212;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
}
.comment-info {
	margin-top: 20px;
}
.comment-info .list-tab {
	display: flex;
}
.comment-info .list-tab li {
    font-size: 16px;
    color: #d01212;
    padding: 10px;
    border-bottom: 2px solid #d01212;
    text-align: center;
}
.comment-info .list-tab li:nth-child(1){
	width: 15%;
	margin-right: 1%;
}
.comment-info .list-tab li:nth-child(2){
	width: 25%;
	margin-right: 1%;
}
.comment-info .list-tab li:nth-child(3){
	width: 58%;
}
.comment-info .list-comment {
	
}
.comment-info .list-comment > li {
	display: flex;
	font-size: 12px;
	padding: 14px 0;
	border-bottom: 1px solid #ececec;
}
.comment-info .list-comment > li span {
	font-size: 14px;
	color: #323232;
	display: inline-block;
}
.comment-info .list-comment > li .user {
    width: 15%;
    margin-right: 1%;
    text-align: center;
    padding: 0 10px;
}
.comment-info .list-comment > li .list-star {
	display: inline-block;
	width: 25%;
	vertical-align: middle;
	margin-right: 1%;
	padding: 0 10px;
}
.comment-info .list-comment > li .list-star li {
    display: inline-block;
    width: 19px;
    height: 18px;
    background: url(../../assets/image/details/star.png) no-repeat left center;
    background-size: contain;
    margin-left: 2px;	
}
.comment-info .list-comment > li .txt {
	width: 58%;
	padding: 0 10px;
}