/*---- banner ----*/
.swiper-banner .swiper-wrapper .swiper-slide {
	width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}
@media (max-width: 768px){
	.swiper-banner .swiper-wrapper .swiper-slide {
	    height: 200px;
	}	
}
.main-bg .tlt {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 38px;
}
.main-bg .tlt .cn {
	font-size: 30px;
	color: #323232;
}
.main-bg .tlt .en {
	font-size: 20px;
	color: #b2b2b2;
	margin-top: 10px;
}
/*---- 在线课堂 ----*/
.list-course {
	font-size: 0;
	margin-bottom: 10px;
}
.list-course li {
	width: 24%;
	margin-right: 1.3%;
	margin-bottom: 60px;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	border-radius: 8px;
}
.list-course li:hover {
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
}
.list-course li:nth-child(4n) {
	margin-right: 0;
}
@media (max-width: 768px){
	.list-course {
		margin-left: 2%;
		margin-right: 2%;
	}
	.list-course li {
	    width: 48%;
	    margin-right: 0;
	}
	.list-course li:nth-child(odd){
		margin-right: 4%;
	}	
}
.list-course li > a {
	display: inline-block;
	width: 100%;
	height: 00%;
}
.list-course li .course-img {
	width: 100%;
	height: 170px;
	border-radius: 8px 8px 0 0;
	overflow: hidden;
	position: relative;
}
.list-course li .course-img .img-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.33) url(../../assets/image/index/play.png) no-repeat center;
	background-size: 58px;
	display: none;
}
.list-course li:hover .course-img .img-mask {
	display: block;
	z-index: 2;
}
.list-course li .course-img img {
	width: 100%;
	height: 100%;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
}
.list-course li:hover .course-img img {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.list-course li .course-txt {
	padding: 14px 14px 18px;
}
.list-course li .course-txt .course-tlt {
	font-size: 16px;
	color:#333;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 10px;
}
.list-course li .course-txt .course-tlt a {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}
.list-course li:hover .course-txt .course-tlt,
.list-course li:hover .course-txt .course-tlt a {color: #81bd05;}
.list-course li .course-txt .bc {
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;		
}
.list-course li .course-txt .course-info {
	font-size: 14px;
}
.list-course li .course-txt .course-info .fee {
	font-size: 14px;
    font-weight: 100;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
}
.list-course li .course-txt .course-info .pay {
	background-color: #d01212;
}
.list-course li .course-txt .course-info .free {
	background-color: #e4cb9b;
}
.list-course li .course-txt .course-info .num {
	float: right;
	font-size: 14px;
	color: #8f8f8f;
}
/*---- 学生作品 ----*/ 
.bg2 {
	width: 100%;
	/*height: 674px;*/
	background-color: #ececec;
	position: relative;
	padding-bottom: 20px;
}
.bg2 .bg-cloud {
	position: absolute;	
	width: 100%;
	height: 100%;
	background: url(../image/index/cloud_top.png) no-repeat top right,
				url(../image/index/cloud_bottom.png) no-repeat bottom left;
	background-size: 484px 260px,419px 258px;	
	z-index: 1;
}
.bg2 .container {
	padding: 0 10%;
}
.con-works {
	position: relative;
}
.con-works .swiper-button-next {
	background-image:url(../image/index/arrow_right.png);
	background-size: 25px 44px;
}
.con-works .swiper-button-prev {
	background-image:url(../image/index/arrow_left.png);
	background-size: 25px 44px;
}
@media (max-width: 768px){
	.con-works .swiper-button-next,
	.con-works .swiper-button-prev {
		display: none;
	}
}
.swiper-works {
	padding: 0 3%;
}
.swiper-works .swiper-wrapper .swiper-slide {
	/*width: 100%;*/
	height: 336px;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
	transition: 300ms;
	position: relative;
}
.swiper-works .swiper-wrapper .swiper-slide:not(.swiper-slide-active){
    transform: scale(0.8);
}
.swiper-works .swiper-wrapper .swiper-slide .bot-mask {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 14px;
	color: #fff;
	background-color: rgba(0,0,0,.3);
	padding: 4px;
}
@media (max-width: 768px){
	.bg2 {
		/*height: 337px;*/
	}	
	.bg2 .bg-cloud {
		background-size: 242px 130px,209.5px 129px;	
	}
	.swiper-works .swiper-wrapper .swiper-slide {
		height: 168px;
	}
}
/*---- 获奖证书 ----*/
.list-wall {
	font-size: 0;
}
.list-wall li {
	font-size: 12px;
	position: relative;
	width: 24%;
	height: 176px;
	margin-right: 1.3%;
	margin-bottom: 60px;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-ms-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	border-radius: 8px;
	background-color: #fff7eb;
	cursor: pointer;
}
.list-wall li:nth-child(4n) {margin-right: 0;}
@media (max-width: 768px){
	.list-wall {
		margin-left: 2%;
		margin-right: 2%;
	}
	.list-wall li {
	    width: 48%;
	    margin-right: 0;
	}
	.list-wall li:nth-child(odd){
		margin-right: 4%;
	}	
}
.list-wall li:hover {
	background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,.1);
}
.list-wall li .img {
	position: relative;
	width: 100%;
	height: 100%;
}
.list-wall li .img img {
	position: absolute;
	top: 50%;	
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	max-height: 100%;
	max-width: 100%;
}
.list-wall li .img-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	top: 0;
	left: 0;
	text-align: center;
	color: #fff;
	display: none;
}
.list-wall li .img-mask .mask-inner {
	position: absolute;
	width: 90%;
	left: 5%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.list-wall li .img-mask .mask-inner .p-tlt {
	font-weight: 700;
	margin-top: 6px;
	margin-bottom: 6px;
}
.list-wall li:hover .img-mask {
	display: block;
}
/*---- 校区地址 ----*/
.bg4 {
	margin-bottom: 50px;
}
#allmap {width:100%;height:400px;}
@media (max-width: 768px){
	#allmap {
		height: 200px;
	}
}
 .BMap_pop {
 	top: 50px !important;
 }
