<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title></title>
	<!--插件:static文件夹-->
	<link rel="stylesheet" href="../../assets/static/bootstrap-3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../assets/static/swiper-4.3.3/swiper.min.css" />
	<!--自定义样式表-->
	<link rel="stylesheet" href="../../assets/css/common.css" /> <!--公共样式表-->
	<link rel="stylesheet" href="../../assets/css/details.css" /> <!--本页样式表-->
</head>
<body>
    <!-- 页头 start-->
    <div id="header"></div>
    <!-- 页头 end-->	
	
	<!--内容区域 start-->
	<div class="main-wrapper">
		<div class="main-bg">			
			<div class="container">
				<!--面包屑导航 start-->
				<ul class="breadcrumb">
				    <li>当前位置：<a href="/">首页</a></li>
				    <li><a href="../Online/online.html">在线课程</a></li>
				    <li class="active">小学</li>
				</ul>
				<!--面包屑导航 end-->
				<!--标题-->
				<div class="main-tlt">正确的书写姿势</div>
				<!--内容-->
				<div class="main-con">
				    <div class="course-main course-main-top">
				    	<!--上左部分-->
				    	<div class="course-main-left">
				    		<div class="main-lt">
				    			<img src="../../assets/image/details/img.png" alt="" />
				    		</div>
				    	</div>
				    	<!--上右部分-->
				    	<div class="course-main-right">
				    		<div class="main-rt">
					    		<!--课程信息-->
					    		<div class="course-info">
					    			<div class="price">
					    				<span>¥<i>1.00</i></span>
					    				<span class="discount">5.0折</span>
					    			</div>
					    			<div class="tlt">书法基础班型，适合书法初学者</div>
					    			<div class="num num1">共2节课</div>
					    			<div class="num num2">266人已报名</div>
					    			<div class="btns">
					    				<a href="#">报名学习</a>
					    			</div>
					    		</div>
					    		<!--讲师信息-->
					    		<div class="lecturer-info">
					    			<div class="tlt">课程讲师</div>
					    			<div class="con">
					    				<div class="name">
					    					<span class="portrait" style="background-image: url(../../assets/image/details/portrait.png);"></span>
					    					<span>夏欣</span>
					    				</div>
					    				<div class="intro">
					    					北京书法名师，人气讲师，北京书法协会会员，擅长硬笔书法教学。
					    				</div>
					    			</div>
					    		</div>
				    		</div>
				    	</div>
				    </div>
				    <div class="course-main">
				    	<!--下左部分-->
				    	<div class="course-main-left">
				    		<div class="main-lb">
					    		<!--课程详情-->
					    		<div class="course-detail">
					    			<ul class="list-inline tab-nav">
								        <li class="tab-nav-item tab-active">课程介绍</li>
								        <li class="tab-nav-item">课程目录</li>
								        <li class="tab-nav-item">学员评价（<i>56</i>条评论）</li>
								    </ul>
								    <div class="tab-panel">
								    	<!--课程介绍 start-->
									    <div class="tab-panel-item tab-active">
								        	<div class="item-tlt">教学目标</div>	
								        	<div class="item-con">
								        		<p>以能力为向导，在实践中突破。</p>
								        	</div>
								        	<div class="item-tlt">课程简介</div>	
								        	<div class="item-con">
								        		<p>中国书法作为中华民族的一门传统艺术，集中体现了中国人特有的艺术素养。 开设书法课是目前广大学校精神文明的重要内容。学习书法不仅有利于提高同学们的观察力、模仿力、领悟力、创造力，而且有利于培养同学们一丝不苟、持之以恒的优良品德。此外，在不断的学习、创作中，还可以使自身的审美情趣、鉴赏能力得到提高。本书涵盖了毛笔书法和钢笔书法两部分内容，在介绍相关书法史学知识的同时，强调实用性和可操作性，使同学们可以从理论和例字两个角度来展开学习，从而使整体内容便于理解和掌握。</p>
								        		<p>中国书法作为中华民族的一门传统艺术，集中体现了中国人特有的艺术素养。 开设书法课是目前广大学校精神文明的重要内容。学习书法不仅有利于提高同学们的观察力、模仿力、领悟力、创造力，而且有利于培养同学们一丝不苟、持之以恒的优良品德。此外，在不断的学习、创作中，还可以使自身的审美情趣、鉴赏能力得到提高。本书涵盖了毛笔书法和钢笔书法两部分内容，在介绍相关书法史学知识的同时，强调实用性和可操作性，使同学们可以从理论和例字两个角度来展开学习，从而使整体内容便于理解和掌握。</p>
								        		<p>中国书法作为中华民族的一门传统艺术，集中体现了中国人特有的艺术素养。 开设书法课是目前广大学校精神文明的重要内容。学习书法不仅有利于提高同学们的观察力、模仿力、领悟力、创造力。</p>
								        	</div>
								        </div>
								        <!--课程介绍 end-->
								        
								        <!--课程目录 start-->
								        <div class="tab-panel-item">
								        	<div class="item-tlt">课程目录</div>	
								        	<div class="item-con">
								        		
								        	</div>
								        </div>
								        <!--课程目录 end-->
								        
								        <!--学员评价 start-->
								        <div class="tab-panel-item">
							        		<div class="comment-con">
							        			<div class="tlt">
							        				<span>为课程评分：</span>
							        				<ul class="list-inline list-star">
							        					<li></li>
							        					<li></li>
							        					<li></li>
							        					<li></li>
							        					<li></li>
							        				</ul>
							        			</div>
							        			<div class="comment-form">
						        					<textarea name="" rows="4" cols="" placeholder="请发表您对课程的评价或建议，至少5字"></textarea>
						        					<i></i>
						        				</div>
						        				<div class="btns">
						        					<a href="">发表评论</a>
						        				</div>
							        		</div>
							        		<div class="comment-info">
							        			<ul class="list-inline list-tab">
							        				<li>用户</li>
							        				<li>满意度</li>
							        				<li>课程评价</li>
							        			</ul>
							        			<ul class="list-unstyled list-comment">
							        				<li>
							        					<span class="user">王小筱</span>
							        					<ul class="list-inline list-star">
							        						<li></li>
							        						<li></li>
							        						<li></li>
							        						<li></li>
							        						<li></li>
							        					</ul>
							        					<span class="txt">课程很好，很有帮助，满意。</span>
							        				</li>
							        				<li>
							        					<span class="user">王小筱</span>
							        					<ul class="list-inline list-star">
							        						<li></li>
							        						<li></li>
							        						<li></li>
							        						<li></li>
							        						<li></li>
							        					</ul>
							        					<span class="txt">课程好很有帮助，下次还听夏老师的课程，推荐给大家哦。还有硬笔书法的课程也很好。</span>
							        				</li>
							        			</ul>
							        			<!--分页-->
							        			<div class="text-center">
								        			<ul class="pagination">
													    <li><a href="#">&lt;</a></li>
													    <li class="active"><a href="#">1</a></li>
													    <li class="disabled"><a href="#">2</a></li>
													    <li><a href="#">3</a></li>
													    <li><a href="#">4</a></li>
													    <li><a href="#">5</a></li>
													    <li><a href="#">&gt;</a></li>
													</ul>
												</div>
							        		</div>
								        </div>
								        <!--学员评价 end-->
							        </div>
					    		</div>
				    		</div>
				    	</div>
				    	<!--下右部分-->
				    	<div class="course-main-right">
				    		<div class="main-br">
				    			<div class="tlt">相关课程</div>				    		
					    		<ul class="list-unstyled list-course">
									<li>
										<a href="#" class="course-imgs">  <!--链接-->
											<span class="img-mask"></span>  <!--播放按钮-->
											<img src="../../assets/image/details/imgs.png" alt="" />
										</a>
										<div class="course-txt">
											<p class="course-tlt">正确的书写姿势</p>
											<p class="course-info">
												<span class="fee pay">￥<i>0.05</i></span>
												<!--<span class="fee free">免费</span>-->
												<span class="num"><i>150</i>人在学</span>
											</p>
										</div>							
									</li>
									<li>
										<a href="#" class="course-imgs">  <!--链接-->
											<span class="img-mask"></span>  <!--播放按钮-->
											<img src="../../assets/image/details/imgs.png" alt="" />
										</a>
										<div class="course-txt">
											<p class="course-tlt">正确的书写姿势</p>
											<p class="course-info">
												<span class="fee pay" style="display: none;">￥<i>0.05</i></span>
												<span class="fee free">免费</span>
												<span class="num"><i>150</i>人在学</span>
											</p>
										</div>							
									</li>
									<li>
										<a href="#" class="course-imgs">  <!--链接-->
											<span class="img-mask"></span>  <!--播放按钮-->
											<img src="../../assets/image/details/imgs.png" alt="" />
										</a>
										<div class="course-txt">
											<p class="course-tlt">正确的书写姿势</p>
											<p class="course-info">
												<span class="fee pay" style="display: none;">￥<i>0.05</i></span>
												<span class="fee free">免费</span>
												<span class="num"><i>150</i>人在学</span>
											</p>
										</div>							
									</li>
									<li>
										<a href="#" class="course-imgs">  <!--链接-->
											<span class="img-mask"></span>  <!--播放按钮-->
											<img src="../../assets/image/details/imgs.png" alt="" />
										</a>
										<div class="course-txt">
											<p class="course-tlt">正确的书写姿势</p>
											<p class="course-info">
												<span class="fee pay" style="display: none;">￥<i>0.05</i></span>
												<span class="fee free">免费</span>
												<span class="num"><i>150</i>人在学</span>
											</p>
										</div>							
									</li>
								</ul>
							</div>
				    	</div>
				    </div>
				</div>
			</div>
		</div>
	</div>
	<!--内容区域 end -->
	
    <!-- 页尾 start-->
    <div id="footer"></div>
    <!-- 页尾 end-->	
    
    <style type="text/css">
    	.common-nav .nav-list .list-nav > li.li-online > a {
			background-color: #323232;
			color: #fff;
		}
    </style>    
    <!--插件：static文件夹-->
	<script src="../../assets/static/jquery-2.1.4/jquery.min.js"></script>
	<script src="../../assets/static/bootstrap-3.3.7/js/bootstrap.js"></script>
	<!--自定义js-->
	<script src="../../assets/js/common.js"></script> <!--公共js部分-->
	<script src="../../assets/js/details.js"></script>	 <!--本页js-->
	<script>
		$(function(){
			var h = $('.course-main-top').height();
			var hl = $('.course-main-top .course-main-left').height();
			var hr = $('.course-main-top .course-main-right').height(); 
			console.log(h)
			console.log(hl)
			console.log(hr)	
			hl=h;
			hl=hr;
			$('.course-main-top .course-main-left').height(h)
			$('.course-main-top .course-main-right').height(h); 
			console.log(hl)
			console.log(hr)	
		})
	</script>
</body>
</html>