<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title></title>
	<!--插件:static文件夹-->
	<link rel="stylesheet" href="../../assets/static/bootstrap-3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../assets/static/swiper-4.3.3/swiper.min.css" />
	<!--自定义样式表-->
	<link rel="stylesheet" href="../../assets/css/common.css" /> <!--公共样式表-->
	<link rel="stylesheet" href="../../assets/css/online.css" /> <!--本页样式表-->
</head>
<body>
    <!-- 页头 start-->
    <div id="header"></div>
    <!-- 页头 end-->	
	
	<!--内容区域 start-->
	<div class="main-wrapper">
		<div class="main-bg">			
			<div class="container">
				<div class="main-tlt">
					<!--面包屑导航 start-->
					<ul class="breadcrumb">
					    <li>当前位置：<a href="/">首页</a></li>
					    <li class="active">在线课程</li>
					</ul>
					<!--面包屑导航 end-->
					<!--科目 start-->
					<div class="course-menu">
						<div class="dl">
							<div class="dt">科目：</div> 
							<div class="dd clearfix">
								<ul class="list-inline list-item clearfix">
									<li class="item-all on">全部</li> 
									<li class="">学前</li>
									<li>小学</li>
									<li>小升初</li>
									<li>初中</li>
									<li>高中</li>
									<li>大学</li>
								</ul>
							</div>
						</div>
						<div class="dl">
							<div class="dt">专业：</div> 
							<div class="dd clearfix">
								<ul class="list-inline list-item clearfix">
									<li class="item-all on">全部</li> 
									<li class="">楷体</li>
									<li>草书</li>
									<li>隶书</li>
									<li>行书</li>
								</ul>
							</div>
						</div>
					</div>
					<!--科目 end-->
					<!--排序 start-->
					<div class="course-menu course-sort">
						<div class="dl">
							<div class="dt">排序：</div> 
							<div class="dd clearfix">
								<ul class="list-inline list-item clearfix">
									<li class="item-all on">最新课程</li> 
									<li>最多学习</li>
								</ul>
							</div>
							<div class="ext">
								<span>共有<i>125</i>个课程</span>  <!--课程总数-->
							</div>
						</div>
					</div>
					<!--排序 end-->
				</div>
				<!--内容-->
				<div class="main-con">
				    <ul class="list-inline list-course">
				    	<li>
							<a href="../Details/details.html" class="course-img">  <!--链接-->
								<span class="img-mask"></span>  <!--播放按钮-->
								<img src="../../assets/image/index/img.png" alt="" />
								<span class="num"><i>2</i>节课程</span>
							</a>
							<div class="course-txt">
								<p class="course-tlt">
									<span class="tlt">正确的书写姿势</span>
									<span class="name">夏欣</span>
								</p>
								<p class="course-info">
									<span class="fee pay" style="display: none;">￥<i>0.05</i></span>
									<span class="fee free">免费</span>
									<span class="num"><i>150</i>人在学</span>
								</p>
							</div>							
						</li>
						<li>
							<a href="../Details/details.html" class="course-img">  <!--链接-->
								<span class="img-mask"></span>  <!--播放按钮-->
								<img src="../../assets/image/index/img.png" alt="" />
								<span class="num"><i>2</i>节课程</span>
							</a>
							<div class="course-txt">
								<p class="course-tlt">
									<span class="tlt">正确的书写姿势</span>
									<span class="name">夏欣</span>
								</p>
								<p class="course-info">
									<span class="fee pay" style="display: none;">￥<i>0.05</i></span>
									<span class="fee free">免费</span>
									<span class="num"><i>150</i>人在学</span>
								</p>
							</div>							
						</li>
						<li>
							<a href="../Details/details.html" class="course-img">  <!--链接-->
								<span class="img-mask"></span>  <!--播放按钮-->
								<img src="../../assets/image/index/img.png" alt="" />
								<span class="num"><i>2</i>节课程</span>
							</a>
							<div class="course-txt">
								<p class="course-tlt">
									<span class="tlt">正确的书写姿势</span>
									<span class="name">夏欣</span>
								</p>
								<p class="course-info">
									<span class="fee pay" style="display: none;">￥<i>0.05</i></span>
									<span class="fee free">免费</span>
									<span class="num"><i>150</i>人在学</span>
								</p>
							</div>							
						</li>
						<li>
							<a href="../Details/details.html" class="course-img">  <!--链接-->
								<span class="img-mask"></span>  <!--播放按钮-->
								<img src="../../assets/image/index/img.png" alt="" />
								<span class="num"><i>2</i>节课程</span>
							</a>
							<div class="course-txt">
								<p class="course-tlt">
									<span class="tlt">正确的书写姿势</span>
									<span class="name">夏欣</span>
								</p>
								<p class="course-info">
									<span class="fee pay">￥<i>0.05</i></span>
									<span class="fee free" style="display: none;">免费</span>
									<span class="num"><i>150</i>人在学</span>
								</p>
							</div>							
						</li>
						<li>
							<a href="../Details/details.html" class="course-img">  <!--链接-->
								<span class="img-mask"></span>  <!--播放按钮-->
								<img src="../../assets/image/index/img.png" alt="" />
								<span class="num"><i>2</i>节课程</span>
							</a>
							<div class="course-txt">
								<p class="course-tlt">
									<span class="tlt">正确的书写姿势</span>
									<span class="name">夏欣</span>
								</p>
								<p class="course-info">
									<span class="fee pay" style="display: none;">￥<i>0.05</i></span>
									<span class="fee free">免费</span>
									<span class="num"><i>150</i>人在学</span>
								</p>
							</div>							
						</li>
						<li>
							<a href="../Details/details.html" class="course-img">  <!--链接-->
								<span class="img-mask"></span>  <!--播放按钮-->
								<img src="../../assets/image/index/img.png" alt="" />
								<span class="num"><i>2</i>节课程</span>
							</a>
							<div class="course-txt">
								<p class="course-tlt">
									<span class="tlt">正确的书写姿势</span>
									<span class="name">夏欣</span>
								</p>
								<p class="course-info">
									<span class="fee pay" style="display: none;">￥<i>0.05</i></span>
									<span class="fee free">免费</span>
									<span class="num"><i>150</i>人在学</span>
								</p>
							</div>							
						</li>
						<li>
							<a href="../Details/details.html" class="course-img">  <!--链接-->
								<span class="img-mask"></span>  <!--播放按钮-->
								<img src="../../assets/image/index/img.png" alt="" />
								<span class="num"><i>2</i>节课程</span>
							</a>
							<div class="course-txt">
								<p class="course-tlt">
									<span class="tlt">正确的书写姿势</span>
									<span class="name">夏欣</span>
								</p>
								<p class="course-info">
									<span class="fee pay" style="display: none;">￥<i>0.05</i></span>
									<span class="fee free">免费</span>
									<span class="num"><i>150</i>人在学</span>
								</p>
							</div>							
						</li>
						<li>
							<a href="../Details/details.html" class="course-img">  <!--链接-->
								<span class="img-mask"></span>  <!--播放按钮-->
								<img src="../../assets/image/index/img.png" alt="" />
								<span class="num"><i>2</i>节课程</span>
							</a>
							<div class="course-txt">
								<p class="course-tlt">
									<span class="tlt">正确的书写姿势</span>
									<span class="name">夏欣</span>
								</p>
								<p class="course-info">
									<span class="fee pay">￥<i>0.05</i></span>
									<span class="fee free" style="display: none;">免费</span>
									<span class="num"><i>150</i>人在学</span>
								</p>
							</div>							
						</li>
					</ul>
					<!--分页-->
        			<div class="text-center">
	        			<ul class="pagination">
						    <li><a href="#">&lt;</a></li>
						    <li class="active"><a href="#">1</a></li>
						    <li class="disabled"><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#">4</a></li>
						    <li><a href="#">5</a></li>
						    <li><a href="#">&gt;</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--内容区域 end -->
	
    <!-- 页尾 start-->
    <div id="footer"></div>
    <!-- 页尾 end-->	
    
    <style type="text/css">
    	.common-nav .nav-list .list-nav > li.li-online > a {
			background-color: #323232;
			color: #fff;
		}
    </style>
    <!--插件：static文件夹-->
	<script src="../../assets/static/jquery-2.1.4/jquery.min.js"></script>
	<script src="../../assets/static/bootstrap-3.3.7/js/bootstrap.js"></script>
	<!--自定义js-->
	<script src="../../assets/js/common.js"></script> <!--公共js部分-->
	<script src="../../assets/js/online.js"></script>	 <!--本页js-->
</body>
</html>