<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>宋老师</title>
	<!--插件:static文件夹-->
	<link rel="stylesheet" href="../../assets/static/bootstrap-3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../assets/static/swiper-4.3.3/swiper.min.css" />
	<!--自定义样式表-->
	<link rel="stylesheet" href="../../assets/css/common.css" /> <!--公共样式表-->
	<link rel="stylesheet" href="../../assets/css/index.css" /> <!--本页样式表-->
</head>
<body>
    <!-- 页头 start-->
    <div id="header"></div>
    <!-- 页头 end-->	
    
    <!--轮播图start-->
	<div class="swiper-container swiper-banner">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide" style="background-image: url(../../assets/image/index/b1.png);"></div>
	        <div class="swiper-slide" style="background-image: url(../../assets/image/index/b1.png);"></div>
	        <div class="swiper-slide" style="background-image: url(../../assets/image/index/b1.png);"></div>
	    </div>
	    <!-- 如果需要分页器 -->
	    <div class="swiper-pagination"></div>
	</div>  
	<!--轮播图end-->
	
	<!--内容区域 start-->
	<div class="main-wrapper">
		<div class="main-bg bg1">
			<div class="container">
				<!--标题-->
				<div class="tlt">
					<div class="cn">【 在线课堂 】</div>
					<div class="en">Online Course</div>
				</div>
				<!--内容-->
				<div class="con">
					<ul class="list-inline list-course">
						<li>
							<a href="#" class="course-img">  <!--链接-->
								<span class="img-mask"></span>  <!--播放按钮-->
								<img src="../../assets/image/index/img.png" alt="" />
							</a>
							<div class="course-txt">
								<p class="course-tlt">正确的书写姿势</p>
								<p class="course-info">
									<span class="fee pay" style="display: none;">￥<i>0.05</i></span>
									<span class="fee free">免费</span>
									<span class="num"><i>150</i>人在学</span>
								</p>
							</div>							
						</li>
						<li>
							<a href="#" class="course-img">  <!--链接-->
								<span class="img-mask"></span>  <!--播放按钮-->
								<img src="../../assets/image/index/img.png" alt="" />
							</a>
							<div class="course-txt">
								<p class="course-tlt">正确的书写姿势</p>
								<p class="course-info">
									<span class="fee pay" style="display: none;">￥<i>0.05</i></span>
									<span class="fee free">免费</span>
									<span class="num"><i>150</i>人在学</span>
								</p>
							</div>							
						</li>
						<li>
							<a href="#" class="course-img">  <!--链接-->
								<span class="img-mask"></span>  <!--播放按钮-->
								<img src="../../assets/image/index/img.png" alt="" />
							</a>
							<div class="course-txt">
								<p class="course-tlt">正确的书写姿势</p>
								<p class="course-info">
									<span class="fee pay" style="display: none;">￥<i>0.05</i></span>
									<span class="fee free">免费</span>
									<span class="num"><i>150</i>人在学</span>
								</p>
							</div>							
						</li>
						<li>
							<a href="#" class="course-img">  <!--链接-->
								<span class="img-mask"></span>  <!--播放按钮-->
								<img src="../../assets/image/index/img.png" alt="" />
							</a>
							<div class="course-txt">
								<p class="course-tlt">正确的书写姿势</p>
								<p class="course-info">
									<span class="fee pay" style="display: none;">￥<i>0.05</i></span>
									<span class="fee free">免费</span>
									<span class="num"><i>150</i>人在学</span>
								</p>
							</div>							
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main-bg bg2">
			<div class="bg-cloud"></div>
			<div class="container">
				<!--标题-->
				<div class="tlt">
					<div class="cn">【 学生作品 】</div>
					<div class="en">Student Works</div>
				</div>
				<!--内容-->
				<div class="con con-works">
					<!-- Swiper -->
				  	<div class="swiper-container swiper-works">
				    	<div class="swiper-wrapper">
					      	<div class="swiper-slide" style="background-image: url(../../assets/image/index/s1.png);">
					      		<div class="bot-mask">《沧浪亭》， 王利</div>
					      	</div>
					      	<div class="swiper-slide" style="background-image: url(../../assets/image/index/s2.png);">
					      		<div class="bot-mask">《沧浪亭》， 王利</div>
					      	</div>
					      	<div class="swiper-slide" style="background-image: url(../../assets/image/index/s3.png);">
					      		<div class="bot-mask">《沧浪亭》， 王利</div>
					      	</div>
				    	</div>
				    	<!-- Add Pagination -->
				    	<!--<div class="swiper-pagination"></div>-->
				  	</div>
				  	<!-- Add Arrows -->
				    <div class="swiper-button-next"></div>
				    <div class="swiper-button-prev"></div>
				</div>
			</div>
		</div>
		<div class="main-bg bg3">
			<div class="container">
				<!--标题-->
				<div class="tlt">
					<div class="cn">【 获奖证书 】</div>
					<div class="en">Award Certificate</div>
				</div>
				<!--内容-->
				<div class="con">
					<ul class="list-inline list-wall">
						<li>
							<div class="img"><img src="../../assets/image/index/c1.png" alt="" /></div>
							<div class="img-mask">
								<div class="mask-inner">
									<p class="p-name">汪子涵</p>
									<p class="p-tlt">《北京市青少年组硬笔书法金奖》</p>
									<p class="p-course">课程：硬笔书法提升班</p>
								</div>
							</div>							
						</li>
						<li>
							<div class="img"><img src="../../assets/image/index/c2.png" alt="" /></div>
							<div class="img-mask">
								<div class="mask-inner">
									<p class="p-name">汪子涵</p>
									<p class="p-tlt">《北京市青少年组硬笔书法金奖》</p>
									<p class="p-course">课程：硬笔书法提升班</p>
								</div>
							</div>							
						</li>
						<li>
							<div class="img"><img src="../../assets/image/index/c3.png" alt="" /></div>
							<div class="img-mask">
								<div class="mask-inner">
									<p class="p-name">汪子涵</p>
									<p class="p-tlt">《北京市青少年组硬笔书法金奖》</p>
									<p class="p-course">课程：硬笔书法提升班</p>
								</div>
							</div>							
						</li>
						<li>
							<div class="img"><img src="../../assets/image/index/c4.png" alt="" /></div>
							<div class="img-mask">
								<div class="mask-inner">
									<p class="p-name">汪子涵</p>
									<p class="p-tlt">《北京市青少年组硬笔书法金奖》</p>
									<p class="p-course">课程：硬笔书法提升班</p>
								</div>
							</div>							
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="main-bg bg4">
			<div class="container">
				<!--标题-->
				<div class="tlt">
					<div class="cn">【 校区地址 】</div>
					<div class="en">School Address</div>
				</div>
				<!--内容-->
				<div class="con">
					<div id="allmap"></div>
				</div>
			</div>
		</div>
	</div>
	<!--内容区域 end -->
	
    <!-- 页尾 start-->
    <div id="footer"></div>
    <!-- 页尾 end-->	
    
    <!--插件：static文件夹-->
	<script src="../../assets/static/jquery-2.1.4/jquery.min.js"></script>
	<script src="../../assets/static/bootstrap-3.3.7/js/bootstrap.js"></script>
	<script src="../../assets/static/swiper-4.3.3/swiper.min.js"></script>
	<!--百度地图API-->
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=QmczGHCk5VEpqOC5MwEEaW82AbIbGSsF"></script>
	<!--自定义js-->
	<script src="../../assets/js/common.js"></script> <!--公共js部分-->
	<script src="../../assets/js/index.js"></script>	 <!--本页js-->
	
	<script>  
		//banner
	  	var mySwiper = new Swiper ('.swiper-banner', {
	  		direction : 'horizontal',
	  		autoplay: true,//可选选项，自动滑动
		    loop: true, // 循环模式选项
		    
		    // 如果需要分页器
		    pagination: {
		      el: '.swiper-pagination',
		    },
		    
		    // 如果需要前进后退按钮
		    navigation: {
		      nextEl: '.swiper-button-next',
		      prevEl: '.swiper-button-prev',
		    },
		    
		    // 如果需要滚动条
		    scrollbar: {
		      el: '.swiper-scrollbar',
		    },
	  	})        
	</script>
	<script>
		// 学生作品
	    var swiper = new Swiper('.swiper-works', {
	    	autoplay: true,//可选选项，自动滑动
		    loop: true, // 循环模式选项
	      	slidesPerView: 3,
	      	spaceBetween: 20,
		  	centeredSlides: true,
	      	pagination: {
	        	el: '.swiper-pagination',
	        	clickable: true,
	      	},
	    });
	</script>
	<script>
		// 百度地图API功能
		var map = new BMap.Map("allmap");
		var point = new BMap.Point(116.1113,39.948074);
		var marker = new BMap.Marker(point);  // 创建标注
		map.addOverlay(marker);              // 将标注添加到地图中
	 	marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
		map.centerAndZoom(point, 18);
		var opts = {
		  title : "宋老师教写字" , // 信息窗口标题
		}
		var infoWindow = new BMap.InfoWindow("公司地址：北京市门头沟区绿岛家园八号楼", opts);  // 创建信息窗口对象         
		map.openInfoWindow(infoWindow,point); //开启信息窗口
	</script>
</body>
</html>